@tailwind base;
@tailwind components;
@tailwind utilities;











/* Light mode (default) */
:root {
    --bg: #ffffff;
    --text: #111827;
    --card: #f9fafb;
}

/* Dark mode */
.dark {
    --bg: #0f172a;
    --text: #e5e7eb;
    --card: #1e293b;
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background 0.3s, color 0.3s;
}

.card {
    background-color: var(--card);
}
